extends  ../_skeleton

//- Includes
include ../components/_ui-quote-classic

block variables
	- var activeCategory = 'about'
	- var pageName = 'About'

block page 
	// Page Header
	+header-classic({
		title: pageName,
		bgImage: 'bg-image-4'
	})
		p.big Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit.

	// Basic Info
	section.section.section-sm.bg-default
		.container
			.row.row-50.justify-content-center.align-items-center
				.col-md-10.col-lg-7
					h3.title-costume.block-1 The Best Way to Learn Any Foreign Language
					.block-2.mt-20.mt-md-30.mt-lg-50
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					a.button.button-lg.button-primary.mt-lg-40(href='contact-us.html') Get Started
				.col-md-10.col-lg-5.position-relative
					.figure-1
						+png('about-1-457x566')

	// Features
	include ../sections/_section-features

	// Testimonials
	section.section.section-lg.bg-default.text-center
		.container
			h3.title-costume What Clients Say About Us
			p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.row.row-30.row-md-50.justify-content-center.justify-content-lg-start
				.col-md-6
					+quote-classic({
						avatar: 'testimonials-1-84x84',
						cite: 'Jane Smith'
					})
						p Eget gravida cum sociis natoque penatibus et magnis dis parturient. Libero enim sed faucibus turpis in

				.col-md-6
					+quote-classic({
						avatar: 'testimonials-2-84x84',
						cite: 'Peter McMillan'
					})
						p Urna id volutpat lacus laoreet non curabitur gravida. Scelerisque viverra mauris in aliquam

				.col-md-6
					+quote-classic({
						avatar: 'testimonials-3-84x84',
						cite: 'Samantha Lee'
					})
						p Purus in mollis nunc sed id semper risus. Et netus et malesuada fames ac turpis. Hendrerit gravida rutrum quisque non

				.col-md-6
					+quote-classic({
						avatar: 'testimonials-4-84x84',
						cite: 'Kate Wilson'
					})
						p Felis eget nunc lobortis mattis aliquam faucibus purus in massa. Malesuada pellentesque elit eget gravida

	// Our Team
	section.section.bg-color-gray-100
		.range
			.cell-lg-7.cell-xl-8.cell-xxl-9: .cell-inner.section-lg.text-center.text-sm-start
				h3.title-costume Meet Our Team
				p Duis aute irure dolor in reprehenderit in voluptate velit
				// Owl Carousel
				.owl-carousel.owl-1.mt-lg-50(
				data-items='1'
				data-sm-items='2'
				data-md-items='3'
				data-lg-items='2'
				data-xl-items='3'
				data-dots='true'
				data-nav='false'
				data-stage-padding='0'
				data-loop='false'
				data-margin='30'
				data-mouse-drag='false')
					// Profile Classic
					article.profile-classic
						+jpg('our-team-1-272x197').profile-classic-image
						.profile-classic-main
							p.heading-5.profile-classic-position Spanish Teacher
							p.profile-classic-name.heading-4 Amanda Peterson
							.profile-classic-unit
								.icon.mdi.mdi-phone
								a.heading-6(href='tel:#') 1-800-366-77-89
					// Profile Classic
					article.profile-classic
						+jpg('our-team-2-272x197').profile-classic-image
						.profile-classic-main
							p.heading-5.profile-classic-position English Teacher
							p.profile-classic-name.heading-4 Sam Johnson
							.profile-classic-unit
								.icon.mdi.mdi-phone
								a.heading-6(href='tel:#') 1-800-366-77-89
					// Profile Classic
					article.profile-classic
						+jpg('our-team-3-272x197').profile-classic-image
						.profile-classic-main
							p.heading-5.profile-classic-position German Teacher
							p.profile-classic-name.heading-4 Pamela Reed
							.profile-classic-unit
								.icon.mdi.mdi-phone
								a.heading-6(href='tel:#') 1-800-366-77-89

			.cell-lg-5.cell-xl-4.cell-xxl-3.height-fill
				.box-3.bg-image(style='background-image: url(images/about-2.jpg);')
					a.box-3-play(data-lightgallery='item' href='https://www.youtube.com/watch?v=dk9uNWPP7EA'): span.icon.mdi.mdi-play

	// Partners
	section.section.section-lg.bg-default
		.container
			// Owl Carousel
			.owl-carousel.owl-2(
			data-items='1'
			data-sm-items='2'
			data-md-items='3'
			data-lg-items='4'
			data-xl-items='5'
			data-dots='true'
			data-nav='false'
			data-stage-padding='0'
			data-loop='false'
			data-margin='30'
			data-mouse-drag='false')
				a.link-image(href='#'): +png('brand-1-229x162')
				a.link-image(href='#'): +png('brand-2-228x162')
				a.link-image(href='#'): +png('brand-3-228x154')
				a.link-image(href='#'): +png('brand-4-228x162')
				a.link-image(href='#'): +png('brand-5-228x162')

	// Page Footer
	include ../sections/_footer-classic-2
