extends  ../_skeleton

//- Includes
include ../components/_ui-navbar-creative
include ../components/_ui-tour-modern
include ../components/_ui-post-classic
include ../components/_ui-tour-classic
include ../components/_ui-tour-minimal

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'

block page
	// Page Header
	header.section.page-header.page-header-2.section-custom-1-ally
		+navbar-creative

		// Jumbotron 3
		.jumbotron-3
			+parallax-element({
				img: 'bg-image-01.jpg'
			}).jumbotron-3-inner.context-dark
				.container
					.row
						.col-md-8.col-lg-7.col-xl-7
							.unit.jumbotron-3-title.wow.fadeIn
								.unit-left: span.icon.linearicons-quote-open.icon-lg
								.unit-body: h5.fw-regular.line-height-title Our language center offers group and personal lessons in English and other modern languages for all ages and levels of knowledge.
							.jumbotron-3-text.wow.fadeIn(data-wow-delay='.1s')
								h1.text-uppercase.fw-strong.text-decoration Improve your<br>
									span.fw-light english&nbsp;
									| skills
		
	// Tours
	section.section.section-custom-1.bg-default
		.container
			.row.row-50.justify-content-xl-between.flex-lg-row-reverse
				.col-lg-5.col-xl-5
					.section-custom-1-block.box-decoration
						.row.row-40
							.col-md-6.col-lg-12
								.d-flex.justify-content-between
									h4.text-uppercase.fw-sbold.wow.fadeIn Book a free lesson
									span.icon.mdi.icon-sm.linearicons-pencil3

								// RD Mailform
								form.rd-form.rd-mailform.form-lg(
								data-form-output='form-output-global'
								data-form-type='contact'
								method='post'
								action='bat/rd-mailform.php'
								)
									.form-wrap.form-wrap-icon.wow.fadeIn(data-wow-delay='.05s')
										label.form-label.form-label-outside(for='contact-1-name') Name
										input#contact-1-name.form-input(type='text' name='name' data-constraints='@Required')
										.icon.form-icon.mdi.mdi-account-outline
									.form-wrap.form-wrap-icon.wow.fadeIn(data-wow-delay='.1s')
										label.form-label.form-label-outside(for='contact-1-phone') Phone
										input#contact-1-phone.form-input(type='text' name='phone' data-constraints='@PhoneNumber')
										.icon.form-icon.mdi.mdi-phone
									.form-wrap.form-wrap-icon.wow.fadeIn(data-wow-delay='.15s')
										label.form-label.form-label-outside(for='contact-1-email') E-mail
										input#contact-1-email.form-input(type='email' name='email' data-constraints='@Email @Required')
										.icon.form-icon.mdi.mdi-email-outline
									.form-wrap.wow.fadeIn(data-wow-delay='.2s')
										button.button.button-lg.button-icon.button-2.button-primary(type='submit') book now
						
							.col-md-6.col-lg-12
								h5.text-uppercase.wow.fadeIn Lots of Happy Students
								p.text-gray-500.mt-30.wow.fadeIn(data-wow-delay='.05s') We have over 4 thousand students
								ul.list-number.mt-15.mt-md-30
									li.wow.fadeIn(data-wow-delay='.1s') 4
									li.wow.fadeIn(data-wow-delay='.15s') 1
									li.wow.fadeIn(data-wow-delay='.2s') 4
									li.wow.fadeIn(data-wow-delay='.25s') 5
						
				.col-lg-7.col-xl-6: .inset-4
					.layout-2.wow.fadeIn
						h2.text-uppercase.fw-bold Courses We Offer
						.layout-2-item: a.button.button-sm.button-style-1(href='our-courses.html') See All
					.row.row-30.mt-xl-60
						.col-xs-6.col-sm-6.wow.fadeIn
							+tour-minimal({
								img: 'home-3-2-258x273',
								title: 'English for Beginners',
								price: '$25',
								comment: 'Price per lesson',
								caption: 'Our best English course for starter level.'
							})
						.col-xs-6.col-sm-6.wow.fadeIn(data-wow-delay='.05s')
							+tour-minimal({
								img: 'home-3-3-258x273',
								title: 'Online Learning',
								price: '$35',
								comment: 'Price per lesson',
								caption: 'Perfect if you prefer distance education.'
							})
						.col-xs-6.col-sm-6.wow.fadeIn(data-wow-delay='.05s')
							+tour-minimal({
								img: 'home-3-4-258x273',
								title: 'English for Business',
								price: '$40',
								comment: 'Price per lesson',
								caption: 'Business English course designed for managers.'
							})
						.col-xs-6.col-sm-6.wow.fadeIn(data-wow-delay='.1s')
							+tour-minimal({
								img: 'home-3-5-258x273',
								title: 'English for Kids',
								price: '$17',
								comment: 'Price per lesson',
								caption: 'Easy-to-learn English course for children.'
							})

	// Featured Tours
	section.section.section-1.bg-gray-100
		.container
			.row.row-50.justify-content-center.justify-content-lg-between
				.col-sm-10.col-md-10.col-lg-8
					h2.text-uppercase.fw-bold.text-center.text-md-start Our Gallery
					.post-corporate-gallery.post-corporate-gallery-2.inset-1(data-lightgallery='group')
						a.post-corporate-thumbnail.post-corporate-thumbnail-1.post-corporate-thumbnail-custom(href='images/group-01-original.jpg' data-lightgallery='item')
							+jpg('group-01-722x490').post-corporate-thumbnail-image
						a.post-corporate-thumbnail.post-corporate-thumbnail-5(href='images/group-02-original.jpg' data-lightgallery='item')
							+jpg('group-02-360x326').post-corporate-thumbnail-image
						a.post-corporate-thumbnail.post-corporate-thumbnail-5(href='images/group-03-original.jpg' data-lightgallery='item')
							+jpg('group-03-360x326').post-corporate-thumbnail-image

						
				.col-lg-4.offset-top-96
					.row.row-30.row-md-50.row-xxl-80
						.col-md-6.col-lg-12
							article.box-8.mt-30.mt-xl-60.wow.fadeIn(data-wow-delay='.1s')
								ul.list-pricing
									li: a(href='english-for-business.html')
										span.list-pricing-title Language for Business
										span $45
									li: a(href='english-for-business.html')
										span.list-pricing-title English for Kids
										span $15
									li: a(href='english-for-business.html')
										span.list-pricing-title Online Learning
										span $36
									li: a(href='english-for-business.html')
										span.list-pricing-title German Club
										span $21
									li: a(href='english-for-business.html')
										span.list-pricing-title Personal Lessons
										span $35
									li: a(href='english-for-business.html')
										span.list-pricing-title Group Lessons
										span $34
									li: a(href='english-for-business.html')
										span.list-pricing-title French for Beginners
										span $32
							
						.col-md-6.col-lg-12
							h2.text-uppercase.fw-bold.text-center.text-sm-start.wow.fadeIn why choose us
							ul.row.list-group-2.row-20.row-md-30.mt-30.mt-xl-40
								li.col-sm-6.col-md-12.wow.fadeIn(data-wow-delay='.05s')
									article.lg-2-item
										.lg-2-item-aside.bg-box-1
											.icon.lg-2-item-icon.mdi.mdi-checkbox-marked-circle-outline
											span.lg-2-item-counter
										.lg-2-item-main
											h3.fw-regular.lg-2-item-title Quick Results
											p Get quick and guaranteed results with the best teachers.
								li.col-sm-6.col-md-12.wow.fadeIn(data-wow-delay='.1s')
									article.lg-2-item
										.lg-2-item-aside
											.icon.lg-2-item-icon.mdi.mdi-coin
											span.lg-2-item-counter
										.lg-2-item-main
											h3.fw-regular.lg-2-item-title Save Money
											p You can save a lot of money on our lessons & resources.
								li.col-sm-6.col-md-12.wow.fadeIn(data-wow-delay='.15s')
									article.lg-2-item
										.lg-2-item-aside.bg-tertiary
											.icon.lg-2-item-icon.mdi.mdi-comment-multiple-outline
											span.lg-2-item-counter
										.lg-2-item-main
											h3.fw-regular.lg-2-item-title Get Support
											p Our staff and teachers are always ready to help you.
									
	// Join Our Newsletter 
	section.section.section-xl.context-dark.bg-image.bg-overlay-1.text-center(style='background-image: url(images/bg-image-3.jpg);')
		.container
			h2.text-uppercase.fw-bold.wow.fadeIn Join Our Newsletter
			h3.fw-regular.mt-md-20.mt-lg-40.wow.fadeIn(data-wow-delay='.025s') Subscribe to our newsletter to receive the latest news & updates.
			.block-2.block-centered.mt-30.mt-lg-60.wow.fadeIn(data-wow-delay='.05s')
				form.rd-form.rd-mailform.form-inline.form-lg(
				data-form-output='form-output-global'
				data-form-type='subscribe'
				method='post'
				action='bat/rd-mailform.php')
					.form-wrap.form-wrap-icon
						input.form-input(id='subscribe-form-email' type='email' name='email' data-constraints='@Email @Required')
						label.form-label(for='subscribe-form-email') E-mail
						.icon.form-icon.form-icon-2.mdi.mdi-email-outline
					.form-button
						button.button.button-lg.button-primary(type='submit') Send
								
	// Latest News
	section.section.section-lg.bg-default.text-center
		.container
			h2.text-uppercase.fw-bold.wow.fadeIn Latest News
			.row.row-40.row-md-50.row-xxl-80
				.col-sm-6.col-lg-4.wow.fadeIn
					+post-classic({
						img: 'grid-blog-1-339x251',
						title: '7 Reasons to Study in Class Rather than Study Alone',
						time: {
							datetime: '2021',
							time: 'May 12, 2021'
						}
					})
				.col-sm-6.col-lg-4.wow.fadeIn(data-wow-delay='.05s')
					+post-classic({
						img: 'grid-blog-2-339x251',
						title: 'Test of Interactive English: Personal Experience',
						time: {
							datetime: '2021',
							time: 'April 24, 2021'
						}
					})
				.col-sm-6.col-lg-4.wow.fadeIn(data-wow-delay='.1s')
					+post-classic({
						img: 'grid-blog-3-339x251',
						title: '5 Reasons Why You Should Consider Doing the FCE',
						time: {
							datetime: '2021',
							time: 'June 19, 2021'
						}
					})
			
	// Get in Touch
	section.section.section-lg.bg-gradient
		.container
			.row.row-50
				.col-lg-8
					h2.text-white.text-uppercase.fw-bold.wow.fadeIn Get in Touch
					article.box-7.mt-md-45.mt-xxl-70.wow.fadeIn(data-wow-delay='.05s')
						// RD Mailform
						form.rd-form.rd-mailform.form-lg(
						data-form-output='form-output-global'
						data-form-type='contact'
						method='post'
						action='bat/rd-mailform.php')
							.row.row-30
								.col-md-6
									.form-wrap.form-wrap-icon
										input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
										label.form-label(for='contact-name') Name
										.icon.form-icon.mdi.mdi-account-outline.text-primary
								.col-md-6
									.form-wrap.form-wrap-icon
										input#contact-email.form-input(type='email' name='email' data-constraints='@Email @Required')
										label.form-label(for='contact-email') E-mail
										.icon.form-icon.mdi.mdi-email-outline.text-primary
								.col-12
									.form-wrap.form-wrap-icon
										label.form-label(for='contact-message') Message
										textarea#contact-message.form-input(name='message' data-constraints='@Required')
										.icon.form-icon.mdi.mdi-message-outline.text-primary
							.form-wrap.form-wrap-button
								button.button.button-lg.button-primary(type='submit') Send
						
				.col-lg-4
					h2.text-white.text-uppercase.fw-bold.wow.fadeIn Our Teachers
					.row.row-30.row-md-50.mt-md-45.mt-xxl-70
						.col-sm-6.col-lg-12.wow.fadeIn(data-wow-delay='.05s')
							// Profile Light
							article.profile-light
								+jpg('home-3-6-95x95').profile-light-image
								.profile-light-main
									p.profile-light-position.text-white-lighter English teacher
									h5.profile-light-name.text-white Sam Johnson
						.col-sm-6.col-lg-12.wow.fadeIn(data-wow-delay='.1s')
							// Profile Light
							article.profile-light
								+jpg('home-3-7-95x95').profile-light-image
								.profile-light-main
									p.profile-light-position.text-white-lighter German Teacher
									h5.profile-light-name.text-white Pamela Reed
						.col-sm-6.col-lg-12.wow.fadeIn(data-wow-delay='.15s')
							p.big.mt-md-30.mt-xl-50.text-white 9 Valley St. Brooklyn, NY 11203
							article.box-inline-1
								span.icon.mdi.mdi-phone
								a(href='tel:#') 1-800-346-6277

	// Page Footer
	include ../sections/_footer-classic-2
