mixin tour-minimal(obj)
	article.tour-minimal.context-dark: .tour-minimal-inner.img-overlay(style='background-image: url(images/' + obj.img + '.jpg);')
		.tour-minimal-header
			if(obj.badge)
				.tour-minimal-badge -20%
		.tour-minimal-main
			h3.tour-minimal-title.fw-sbold: a(href=obj.link ? obj.link : 'english-for-business.html')=obj.title
			.tour-minimal-pricing
				if(obj.priceOld)
					p.tour-minimal-price.tour-minimal-price-old=obj.priceOld
				p.tour-minimal-price.tour-minimal-price-new=obj.price
			p.tour-minimal-comment=obj.comment
		if(obj.caption)
			.tour-minimal-caption
				p=obj.caption
