#rd-navbar-collapse.rd-navbar-collapse
	button.rd-navbar-collapse-close(data-multitoggle='#rd-navbar-collapse')
		span.rd-navbar-collapse-toggle-element.active: span
	h4.fw-sbold Our Office
	h5.ls-1 9 Valley St. Brooklyn, NY 11203
	h5.ls-1: a(href='tel:#') 1-800-346-6277
	.divider.divider-small
	h4.fw-sbold Our Courses
	// Owl Carousel
	.owl-carousel.owl-carousel-tour-minimal(
	data-items='1'
	data-dots='true'
	data-nav='false'
	data-auto-width='true'
	data-loop='true'
	data-margin='0'
	data-autoplay='true'
	data-mouse-drag="false")
		.owl-item-inner
			+tour-minimal({
				img: 'home-3-2-258x273',
				title: 'English for Beginners',
				price: '$25',
				comment: 'Price per lesson',
				caption: 'Our best English course for starter level.'
			})

		.owl-item-inner
			+tour-minimal({
				img: 'home-3-3-258x273',
				title: 'Online Learning',
				price: '$35',
				comment: 'Price per lesson',
				caption: 'Perfect if you prefer distance education.'
			})

		.owl-item-inner
			+tour-minimal({
				img: 'home-3-4-258x273',
				title: 'English for Business',
				price: '$40',
				comment: 'Price per lesson',
				caption: 'Business English course designed for managers.'
			})

		.owl-item-inner
			+tour-minimal({
				img: 'home-3-5-258x273',
				title: 'English for Kids',
				price: '$17',
				comment: 'Price per lesson',
				caption: 'Easy-to-learn English course for children.'
			})
	a.button.button-default-outline(href='contact-us.html') Get in Touch
