//- Image
	@param {string} name
mixin img(name)
	- var size = getImageSize(name);
	img(src= setImagePath(setImageExtension(name)), alt='', width= size[0], height= size[1])&attributes(attributes)


//- Jpg image
	@param {string} name
mixin jpg(name)
	- var size = getImageSize(name);
	img(src= setImagePath(name +'.jpg'), alt='', width= size[0], height= size[1])&attributes(attributes)


//- Png image
	@param {string} name
mixin png(name)
	- var size = getImageSize(name);
	img(src= setImagePath(name +'.png'), alt='', width= size[0], height= size[1])&attributes(attributes)

//- svg image
	@param {string} name
mixin svg(name)
	- var size = getImageSize(name);
	img(src= setImagePath(name + '.svg'), alt='', width= size[0], height= size[1])&attributes(attributes)
	

//- Loop without indexing mixin
	@param {number} iterations - number of iterations
mixin loop(iterations)
	- for (var i = 0; i < iterations; i++)
		block


//- Parallax Section
	@param {object} obj - parameters storage
	@param {string} obj.img - image path
	@param {string} obj.innerClass - content wrapper class
mixin parallax(obj)
	section.parallax-container(data-parallax-img= setImagePath(setImageExtension(obj.img)))&attributes(attributes)
		.parallax-content(class= obj.innerClass)
			block


//- Parallax Element
	@param {object} obj - parameters storage
	@param {string} obj.img - image path
	@param {string} obj.innerClass - content wrapper class
mixin parallax-element(obj)
	.parallax-container(data-parallax-img='images/'+ obj.img )&attributes(attributes)
		.parallax-content(class= obj.innerClass)
			block


//- Breadcrumbs
	@param {object} obj - parameters storage
	@param {string} obj.category - required menu category
	@param {string} obj.bgImage - section background image
	@param {array}  obj.path - other navigation path
mixin breadcrumbs(obj)
	section.breadcrumbs-custom&attributes(attributes)
		.breadcrumbs-custom-inner
			.container
				.breadcrumbs-custom-main(class={'m-parallax-content': obj.parallax})
					+svg-wave-line.breadcrumbs-custom-line
					h2.breadcrumbs-custom-title.text-uppercase=obj.title
					block


//- Logo
mixin logo
	a.brand(href='index.html')&attributes(attributes)
		+svg(logo.default.normal).brand-logo-dark
		+svg(logo.inverse.normal).brand-logo-light


//- Copyright
mixin rights
	p.rights&attributes(attributes)
		span &copy;&nbsp; 
		span.copyright-year
		span &nbsp;
		span= logo.name
		span . All rights reserved.&nbsp;
		a(href='privacy-policy.html') Privacy Policy
		span .
		span  Design&nbsp;by&nbsp; EXCLthemes

mixin svg-wave-line
	svg(
	width='70' 
	height='8'
	viewBox='0 0 70 8'
	fill='none')&attributes(attributes)
		path(d='M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7'
		stroke-width='1.98'
		stroke-miterlimit='10')
	
mixin svg-next
	svg(width='20', height='16', viewBox='0 0 20 16', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		path(d='M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9H19V7L0 7L0 9Z')


mixin svg-prev
	svg(width='20' height='16' viewBox='0 0 20 16' xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		path(d='M6.7,15.1c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.4,8l5.7-5.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,7.3\
										c-0.4,0.4-0.4,1,0,1.4L6.7,15.1z M20,7H1v2h19V7z')

mixin svg-down
	svg(width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		path(d='M17.1,11.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L10,15.6L4.3,9.9c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l6.4,6.4\
		c0.4,0.4,1,0.4,1.4,0L17.1,11.3z M9-2v19h2V-2H9z')


mixin svg-quote-mark
	svg(width='26' height='20' viewBox='0 0 26 20' fill='none', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		path(d='M8.39836 9.84C9.07836 10.24 9.59836 10.78 9.95836 11.46C10.3184 12.14 10.4984 12.9 10.4984 13.74C10.4984 15.3 9.97836 16.58 8.93836 17.58C7.93836 18.58 6.71836 19.08 5.27836 19.08C3.95836 19.08 2.85836 18.64 1.97836 17.76C1.09836 16.88 0.658359 15.76 0.658359 14.4C0.658359 13.72 0.77836 13.06 1.01836 12.42C1.29836 11.74 1.73836 10.88 2.33836 9.84L7.85836 0.479997H12.6584L8.39836 9.84ZM21.1184 9.84C21.7984 10.24 22.3184 10.78 22.6784 11.46C23.0384 12.14 23.2184 12.9 23.2184 13.74C23.2184 15.3 22.6984 16.58 21.6584 17.58C20.6584 18.58 19.4384 19.08 17.9984 19.08C16.6784 19.08 15.5784 18.64 14.6984 17.76C13.8184 16.88 13.3784 15.76 13.3784 14.4C13.3784 13.72 13.4984 13.06 13.7384 12.42C14.0184 11.74 14.4584 10.88 15.0584 9.84L20.5784 0.479997H25.3784L21.1184 9.84Z')
